#mailFormPopUp {
    position: absolute;
    top: calc(50vh - 140px);
    left: calc(50vw - 153px);
    z-index: 10;
    display: none;
    width: 300px;
}

#mailFormPopUp #af-form-1679204634 {
    border-top: none;
}

/* .mailFormPopUp_header {
    background: #fff;
    text-align: center;
    padding: 0;
    padding: 20px;
    font-family: sans-serif;
} */
/* .mailFormPopUp_x {
    margin: 0;
    text-align: right;
    color:black;
    font-size: 18px;
    padding: 10px 10px 0 10px;
} */
